<nav id="menu">
    <header class="major">
        <h2>menu.nl</h2>
    </header>
    <ul class="links">
        <li class="nav-{{slug}}"><a href="http://localhost:2368/nl/respiro-cubic-waterstoftherapie/">Respiro</a></li>
        <li class="nav-{{slug}}"><a href="{{url}}/nl/respiro-cubic-waterstoftherapie/">Respiro</a></li>
        <li class="nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        <li class="nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        <li class="nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        <li class="nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        <li class="nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    </ul>
</nav>