<div id="sidebar">
    <div class="inner">

        {{!-- menu structure for dutch language --}}
        <nav id="menu">
            <header class="major">
                <h2>menu</h2>
            </header>
            <ul class="links">
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/">start</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/respiro-cubic-waterstoftherapie/">Respiro</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/sedis-waterstof-water-dispenser/">Sedis waterstof dispensor</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/sedis-waterstof-water-dispenser-met-inhalator/">Sedis Respiro waterstof dispenser met inhaler</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/magna-waterstofdispenser/">Magna waterstofdispenser</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/over-ons/">over ons</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/prijzen/">prijzen</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/">es</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/en/">en</a></li>

            </ul>
        </nav>

        {{!-- acniti contact --}}
        <section>
            <header class="major">
                <h2>Neem contact op</h2>
            </header>
            <div class="mini-posts">
                    <article>
                        <h3>acniti LLC Netherlands</h3>
                        <p>1-2-9 Nyoidani<br>
                        Minoh Osaka<br>
                        〒562-0011<br>
                        Japan<br>
                        <br>
                   	 <a href="mailto: h2@acniti.com">h2@acniti.com</a><br>
					 <a href="https://www.acniti.com">www.acniti.com</a></p>
                    </article>
            </div>
        </section>

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
            {{#if contact}}{{#foreach contact}}
                <section>
                    <header class="major">
                        <h2>{{title}}</h2>
                    </header>
                    {{content}}
                </section>
            {{/foreach}}{{/if}}
        {{/get}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright 2017-2020">&copy; {{@site.title}} LLC - Alle rechten voorbehouden<br>
            Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a></p>
        </footer>

    </div>
</div>
