<div id="sidebar">
    <div class="inner">

        {{!-- Contact Acniti --}}
        <nav id="menu">
            <header class="major">
                <h2>menu.es</h2>
            </header>
            <ul class="links">
                <li class="nav-{{slug}}"><a href="{{site.url}}/es/respiro-cubic-terapia-de-hidrogeno/">Sedis</a></li>
                <li class="nav-{{slug}}"><a href="{{site.url}}/es/dispensador-de-agua-hidrogeno-sedis/">Respiro 1</a></li>
                <li class="nav-{{slug}}"><a href="{{site.url}}/es/dispensador-de-agua-de-hidrogeno-sedis/">Respiro 2</a></li>
                <li class="nav-{{slug}}"><a href="{{site.url}}/es/h2-servidor-de-agua-magna/">Magna servidor de hidrogeno</a></li>
                <li class="nav-{{slug}}"><a href="{{site.url}}/sobre-nosotros/">sobre nostros</a></li>
                <li class="nav-{{slug}}"><a href="{{site.url}}/precios/">precios</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/">es</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/nl/">nl</a></li>
            </ul>
        </nav>





        {{!-- Contact Acniti --}}
        <section>
            <header class="major">
                <h2>Contact Us</h2>
            </header>
            <div class="mini-posts">
                    <article>
                        <h3>acniti LLC Spain</h3>
                        <p>1-2-9 Nyoidani<br>
                        Minoh Osaka<br>
                        〒562-0011<br>
                        Japan<br>
                        <br>
                   	 <a href="mailto: h2@acniti.com">h2@acniti.com</a><br>
					 <a href="https//:www.acniti.com">www.acniti.com</a></p>
                    </article>
            </div>
        </section>

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
            {{#if contact}}{{#foreach contact}}
                <section>
                    <header class="major">
                        <h2>{{title}}</h2>
                    </header>
                    {{content}}
                </section>
            {{/foreach}}{{/if}}
        {{/get}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright 2017-2020">&copy; {{@site.title}} LLC - todos los derechos reservados<br>
            Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a></p>
        </footer>

    </div>
</div>
