<div id="sidebar">
    <div class="inner">

        {{!-- Contact Acniti --}}
        <nav id="menu">
            <header class="major">
                <h2>menú</h2>
            </header>
            <ul class="links">
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/">Incio</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/respiro-cubic-terapia-de-hidrogeno/">Sedis</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/dispensador-de-agua-hidrogeno-sedis/">Respiro</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/es/h2-servidor-de-agua-magna/">Magna servidor de hidrogeno</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/sobre-nosotros/">sobre nostros</a></li>
                <li class="nav-{{slug}}"><a href="{{@site.url}}/precios/">precios</a></li>
            </ul>
        </nav>

        {{!-- Contact Acniti --}}
        <section>
            <header class="major">
                <h2>Contact Us</h2>
            </header>
            <div class="mini-posts">
                    <article>
                        <h3>acniti LLC</h3>
                        <p>1-2-9 Nyoidani<br>
                        Minoh Osaka<br>
                        〒562-0011<br>
                        Japan<br>
                        <br>
                   	 <a href="mailto: h2@acniti.com">h2@acniti.com</a><br>
					 <a href="https://www.acniti.com">www.acniti.com</a></p>
                    </article>
            </div>
        </section>

        {{!-- Footer --}}
        <footer id="footer">
            <ul class="icons">
                {{#if @site.twitter}}
                    <li><a href="{{twitter_url @site.twitter}}" class="icon fa-twitter" title="Twitter"><span
                            class="label">Twitter</span></a></li>
                {{/if}}
                <li><a href="https://shop.acniti.com" class="icon fa-shopping-cart" title="Compra"><span class="label">Compra</span></a>
                </li>
                <li><a href="https://www.linkedin.com/company/acniti/" class="icon fa-linkedin" title="acniti linkedin"><span class="label">linkedin</span></a>
                <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" class="icon fa-rss"
                       target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li>
            </ul>
            <p class="copyright">&copy; {{@site.title}} LLC - todos los derechos reservados</p>
            <p class="design">Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a></p>
        </footer>

    </div>
</div>
