<!DOCTYPE html>
<html lang="{{{block "lang"}}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}"/>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="is-preload {{body_class}}">

<div id="wrapper">
    <main id="main">
        <div class="inner">

            {{!-- Header --}}
            <header id="header">
                {{#if @site.logo}}
                    <a href="{{@site.url}}" class="logo image"><img src="{{@site.logo}}" alt="{{t "alt logo"}}"/></a>
                {{else}}
                    <a href="{{@site.url}}" class="logo">{{t "alt logo"}}</a>
                {{/if}}
                <ul class="icons">
                    <li><a href="https://shop.acniti.com" class="icon fa-shopping-cart" target="_blank"
                           title="{{t "buy"}}"><span class="label">{{t "buy"}}</span></a>
                    </li>
                </ul>
            </header>

            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}

        </div>
    </main>

    {{#is "post"}}
    {{!-- The left sidebar - partials/sidebar.hbs --}}
        {{#post}}
            {{#has tag="#es"}}
                {{> sidebar-es}}
            {{/has}}
            {{#has tag="#nl"}}
                {{> sidebar-nl}}
            {{/has}}
            {{#has tag="#en"}}
                {{> sidebar}}
            {{/has}}
        {{/post}}
    {{/is}}
</div>
{{> scripts}}
{{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}
</body>
</html>
