{{!< default}}
{{#post}}
  {{#has tag="#es"}}
    {{#contentFor "lang"}}es{{/contentFor}}
  {{else}}
    {{#contentFor "lang"}}{{@site.lang}}{{/contentFor}}
  {{/has}}
{{/post}}
              
{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}


<section>

    <header class="main content">
        <h1>{{title}}</h1>
    </header>

    {{#if feature_image}}
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
    {{/if}}

    <div class="content">
        {{content}}
    </div>

</section>


{{/post}}